<div class="center hero-unit">
          <% if signed_in? %>
            <p>Welcome <%=current_user.gamertag%>!</p>
          <% end %> 	
    <h1>GRX Clan</h1>
    <h2>Gamers Redefining Excellence</h2>
    <h3>Gears of War 3 Matches: 1v1</h3>
    <p>taeWook vs. hguy4x</p>
    <p>Gears of War 3</p>
    <p>Tonight 8/12/14 @ 9:30p PST</p>
    <p>Don't miss it!</p>
    <h3>Place your bets here:</h3>
<form accept-charset="UTF-8" action="/home/index" method="post">
  <div style="margin:0;padding:0">
    <input name="utf8" type="hidden" value="&#x2713;" />
    <input name="authenticity_token" type="hidden" value="f755bb0ed134b76c432144748a6d4b7a7ddf2b71" />
  </div>
    <ul class="vote">
      <li>
        <h2>Harvey</h2>
        <%=link_to(image_tag("Randallwong.jpg", :class => "brand"),        
        topics_path(@topic), :remote=> true, :method => :post) %>
        <%= button_to 'I choose Harvey', topics_path(@topic), method: :post %>
      </li>  
	    <li>	
        <h2>Paul</h2>
        <%=link_to(image_tag("Randallwong.jpg", :class => "brand"),        
        topics_path(@topic), :remote=> true, :method => :post) %>
        <%= button_to 'I choose Paul', topics_path(@topic), method: :post %>
      </li>          
      </li>
    </ul>
</form>


</div>

