
<ul class="roster-list">

      <ul class="roster-list"%>
        <% @users.each do |user| %> 
          <li>
            <div class="left-profile">
              <h3><%= link_to "#{user.gamertag}", user_path(user.id), method: :get %></h3>
              <%=image_tag("Randallwong.jpg", size: "250x150", alt: "Randall Wong")%>
            </div>
            <div class="left-profile-details">
                <p><%= user.name%></p>
                <p><%= user.role %></p>
                <%= link_to 'https://www.youtube.com/user/orchidstra' do %> 
                  <%= image_tag("youtube64x64.png", size: "50x60", alt: "YouTube") %>
                <% end %>
                <%= link_to 'https://twitter.com/#{user.twitter}' do %> 
                  <%= image_tag("twitter64x64.png", size: "50x60", alt: "Twitter") %>
                <% end %> </br>               
                <%= link_to 'http://www.twitch.tv/grx_orchidstra' do %> 
                  <%=image_tag("GlitchIcon_purple.png", size: "50x60", alt: "Twitch") %>
                  <%= user.role %>
                <% end %>
            </div>
          </li>
        <% end %>   
      </ul>

<!--   <li>
    <div><%=image_tag("Randallwong.jpg", size: "150x100", alt: "Randall Wong")%></div>
    <h3>Warblade</h3> 
    <h4>Randall Wong</h4>
    <h5>Role: Clan Historian</h5>
    <a href="https://twitter.com/randallw" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @randallw</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

  </li>
  <li>
    <div><%=image_tag("adrienneOTRtour.JPG", size: "113x50", alt: "Adrienne Shen")%></div>
    <h3><%= link_to "Orchidstra", controller: "users", action: "show", id: current_user %></h3> 
    <h4>Adrienne Shen</h4>
    <h5>Role: Team Captain</h5>  
    <a href="https://twitter.com/ShenVenture" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @ShenVenture</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>	
  </li> -->

<!-- <h2>Currently playing:</h2>
<p>Gears of War 3, Halo 4, COD: Ghosts, Titanfall</p> -->