      <ul class="roster-list">
        <% @users.each do |user| %> 
          <li>
            <div class="left-profile">
              <h3><%= link_to "#{user.name}", user_path(user.id), method: :get %></h3>
              <%=link_to user_path(user.id) do %>
                <%= image_tag(user.avatar.url, size: "200x150", alt: "#{user.gamertag}'s Profile", :class => "profile-pic") %>
              <% end %>
            </div>
            <div class="left-profile-details">
                <p class="gamertag"><%= user.gamertag%></p>
                <p class="role"><%= user.role %></p>
                <div class="social">
                  <span><%= link_to "https://www.youtube.com/#{user.youtube}" do %> 
                    <%= image_tag("youtube64x64.png", size: "45x55", alt: "YouTube") %>
                  <% end %></span>
                  <span><%= link_to "https://twitter.com/#{user.twitter}" do %> 
                    <%= image_tag("twitter64x64.png", size: "45x55", alt: "Twitter") %>
                  <% end %> </span></br>               
                  <div class="twitch"><%= link_to "http://www.twitch.tv/#{user.twitch}" do %> 
                    <%=image_tag("GlitchIcon_purple.png", size: "45x55", alt: "Twitch") %>
                    <span><%= user.twitch %></span></div>
                  <% end %>
                </div>
            </div>
          </li>
        <% end %>   
      </ul>

<!-- <h2>Currently playing:</h2>
<p>Gears of War 3, Halo 4, COD: Ghosts, Titanfall</p> -->