
<ul class="roster-list">

      <ul class="roster-list"%>
        <% @users.each do |user| %> 
          <li>
            <div class="left-profile">
              <h3><%= link_to "#{user.name}", user_path(user.id), method: :get %></h3>
              <%=link_to user_path(user.id) do %>
                <%=image_tag("Randallwong.jpg", size: "235x150", alt: "Randall Wong")%>
              <% end %>
            </div>
            <div class="left-profile-details">
                <p class="gamertag"><%= user.gamertag%></p>
                <p class="role"><%= user.role %></p>
                <div class="social">
                  <span><%= link_to "https://www.youtube.com/#{user.youtube}" do %> 
                    <%= image_tag("youtube64x64.png", size: "45x55", alt: "YouTube") %>
                  <% end %></span>
                  <span><%= link_to "https://twitter.com/#{user.twitter}" do %> 
                    <%= image_tag("twitter64x64.png", size: "45x55", alt: "Twitter") %>
                  <% end %> </span></br>               
                  <div class="twitch"><%= link_to "http://www.twitch.tv/#{user.twitch}" do %> 
                    <%=image_tag("GlitchIcon_purple.png", size: "45x55", alt: "Twitch") %>
                    <span><%= user.twitch %></span></div>
                  <% end %>
                </div>
            </div>
          </li>
        <% end %>   
      </ul>

<!--   <li>
    <div><%=image_tag("Randallwong.jpg", size: "150x100", alt: "Randall Wong")%></div>
    <h3>Warblade</h3> 
    <h4>Randall Wong</h4>
    <h5>Role: Clan Historian</h5>
    <a href="https://twitter.com/randallw" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @randallw</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

  </li>
  <li>
    <div><%=image_tag("adrienneOTRtour.JPG", size: "113x50", alt: "Adrienne Shen")%></div>
    <h3><%= link_to "Orchidstra", controller: "users", action: "show", id: current_user %></h3> 
    <h4>Adrienne Shen</h4>
    <h5>Role: Team Captain</h5>  
    <a href="https://twitter.com/ShenVenture" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @ShenVenture</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>	
  </li> -->

<!-- <h2>Currently playing:</h2>
<p>Gears of War 3, Halo 4, COD: Ghosts, Titanfall</p> -->