
<div class="profile_background">
<div class="left-profile" id="center">
  <div class="profile-right-border">
    <h1><%= @user.gamertag %></h1>
      <%= image_tag(@user.avatar.url, size: "200x150", alt: "#{@user.gamertag} Photo", :class => "profile-pic") %>
    <h4><%= @user.role %></h4>  
  </div> 
  <div class="social-profile">
    <%= link_to "https://www.twitter.com/#{@user.twitter}" do %> 
      <%= image_tag("twitter64x64.png", size: "40x50", alt: "Twitter") %>
    <% end %>
    <%= link_to "https://www.youtube.com/#{@user.youtube}" do %> 
      <%= image_tag("youtube64x64.png", size: "40x50", alt: "YouTube") %>
    <% end %>
    <%= link_to "http://www.twitch.tv/#{@user.twitch}" do %> 
      <%=image_tag("GlitchIcon_purple.png", size: "50x50", alt: "Twitch") %>
    <% end %> 
  </div>
</div>
<section class="youtube">
  <iframe width="560" height="315" src="//www.youtube.com/embed/<%=@user.featured_vid%>" frameborder="0" allowfullscreen></iframe>
</section>
<section>
      <ul class="profile-facts">
        <li><b>Name:  </b><%= @user.name %></li>
        <li><b>Real-Life Occupation: </b><%= @user.occupation %></li>
        <li><b>Favorite Video Game: </b><%= @user.fave_game %></li>
        <li><b>First Gaming Addiction: </b><%= @user.game_addiction %></li>
        <li><b>Favorite Video Game Character: </b><%= @user.fave_character %></li>
        <li><b>First FPS Game Played: </b><%= @user.first_fps %></li>
        <li><b>Favorite Movie: </b><%= @user.fave_movie %></li>
        <li><b>Hobbies & Interests: </b><%= @user.hobbies %></li>
        <li><b>Something Not Many People Know About Me: </b><%= @user.fact %></li>
      </ul>   
</section>
</div>





