<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">   
      <nav>
        <li><%= link_to image_tag("GRXclanlogo.png", size: "150x100", alt: "GRX Clan", :class => 'brand'), root_path %></li>
        <ul class="nav pull-right navlinks">
          <li><%= link_to "HOME", "#" %></li>
          <li><%= link_to "ABOUT", "#" %></li>
          <li><%= link_to "ROSTER", "#" %></li>
          <li><%= link_to "VIDEO", "#" %></li>
          <li><%= link_to "GALLERY", "#" %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>