<!DOCTYPE html>
<html>
<head>
  <title>Grxclan</title>
  <%= stylesheet_link_tag    "application", "dropit.css", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "dropit.js", "data-turbolinks-track" => true %>
      <script type="text/javascript">$(document).ready(function() {
    $('.menu').dropit();
});</script>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %> 

</head>
  
<body>
  <div class="header"><%= render 'layouts/header' %></div>
  <div class="container">	
  	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </div>
</body>
</html>
